.allProducts
{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
}
.products
{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.397);
}
.image
{
  display: flex;
  justify-content: center;
 
}
.product-header,.product-footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.text-none
{
  text-decoration: none;
  color:rgb(206, 49, 25);
}
.addToCart
{
  display: flex;
  align-items: center;
}
.fa-heart:hover
{
  cursor: pointer;
}
@media(max-width:700px)
{
  .image img
  {
    width:500px;
  }
  .imagetxt
  {
    top:5%;
    left:5%;
  }
}
@media(max-width:500px)
{
  .image img
  {
    width:300px;
  }
}